{%extends 'base_generic.html'%}
{% load static %}
{%block content%}

<style>
    /* CSS personalizado */

    body {
        background: linear-gradient(to top, white, rgb(176, 187, 194), white);
    }

    .centered-text {
        text-align: left;
        font-family: Arial, sans-serif;
        margin-top: 50px;
        color: rgb(65, 63, 63);
    }

    h6 {
        font-size: 12px;
        text-align: right;
    }

    h1 {
        font-size: 50px;
    }

    .custom-section {
        font-size: 20px;
    }

    section {
        max-width: 100%;
        /* Define o valor desejado para a largura */
        margin: 0 auto;
        /* Centraliza horizontalmente */
    }

    .section1,
    .section2,
    .section3,
    .section4 {
        background-color: white;
        color: black;
        padding: 20px;
        margin-bottom: 20px;
    }

    .section1 img,
    .section2 img,
    .section3 img {
        width: 100%;
        margin: 20px 0;
    }

    .section2 h6 {
        font-size: 12px;
        text-align: left;
    }

    .custom-section {
        max-width: 100%;
        /* Define o valor desejado para a largura */
        margin: 0 auto;
        /* Centraliza horizontalmente */
        margin-bottom: 100px;
        margin-top: 100px;
        /* Espaço das seções entre elas */
    }

    @media screen and (max-width: 768px) {
        .custom-section {
            padding: 10px;
        }

        .section1 img,
        .section2 img,
        .section3 img {
            margin: 10px 0;
        }
    }
</style>
<div class="container mt-4 mb-4">
    <div class="centered-text text-white">
        <h1>Quem somos?</h1>
        <p>
            Nós, uma equipe composta por seis membros apaixonados por educação e jogos, estamos entusiasmados em
            apresentar ao mercado o nosso mais recente projeto: o "Bingo Matemático". Este jogo foi cuidadosamente
            desenvolvido com o objetivo primordial de aprimorar o processo de ensino-aprendizagem da matemática em
            sala de aula.
        </p>
        <p>
            O "Bingo Matemático" não apenas oferece uma maneira divertida de aprender, mas também é uma ferramenta
            valiosa para auxiliar nossos usuários durante a experiência de jogo. Com instruções claras e
            acessíveis, nossa aplicação foi projetada para orientar os jogadores em todos os aspectos do jogo,
            garantindo uma experiência educativa e agradável.
        </p>
    </div>
</div>

<!-- Seção 1 -->
<section class="section1 p-5 custom-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>A importância dos jogos no ensino da matemática</h2>
                <br><br>
                <p>
                    Os jogos lúdicos desempenham um papel fundamental no processo de ensino-aprendizagem da
                    matemática, pois proporcionam uma abordagem envolvente e eficaz para o desenvolvimento das
                    habilidades numéricas e do raciocínio lógico.
                    A importância desses jogos vai muito além da diversão, eles são uma ferramenta educacional
                    valiosa que pode transformar a forma como os estudantes encaram a matemática.
                </p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/img-s1.avif' %}" alt="Imagem" class="img-fluid">
                <p class="text-center mt-2">
                <h6>Foto ilustrativa</h6>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Seção 2 -->
<section class="section2 p-5 custom-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/img-s2.jpg' %}" alt="Imagem" class="img-fluid">
                <p class="text-center mt-2">
                <h6>Foto ilustrativa</h6>
                </p>
            </div>
            <div class="col-md-6">
                <h2>Como surgiu a ideia do Jogo</h2>
                <br><br>
                <p>
                    Nossa proposta é criar o "Bingo Matemático" para tornar a matemática mais acessível e divertida
                    para os alunos e a ideia surgiu com base nesse princípio. Acreditamos que a educação pode ser
                    enriquecida por abordagens inovadoras como essa, ajudando educadores a tornar o ensino de
                    matemática mais envolvente e eficaz, inspirando os alunos a abraçarem o aprendizado de forma
                    emocionante.
                    Estamos entusiasmados para compartilhar essa jornada educativa e divertida com todos.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Seção 3 -->
<section class="section3 p-5 custom-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Como o jogo funciona?</h2>
                <br>
                <p>
                    O jogo consiste na associação da lógica matemática aos princípios básicos do Bingo convencional.
                    Entretanto, é importante destacar que, no momento do sorteio, em vez dos números aparecerem nas
                    bolas sorteadas, serão escolhidas expressões matemáticas, às quais os usuários devem estar
                    atentos para conseguir preencher corretamente a tabela com os resultados da expressão proposta.
                    Além disso, o professor responsável pela criação das salas poderá administrar os níveis de
                    dificuldade das questões. Dessa forma, ele possui uma maior abrangência em relação ao grau de
                    dificuldade de cada turma.
                </p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/img-s3.jpg' %}" alt="Imagem" class="img-fluid">
                <h6>Foto ilustrativa</h6>
            </div>
        </div>
    </div>
</section>
{%endblock%}