* {
    margin: 0;
    padding: 0;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(249, 231, 255, 0.808);
    padding: 10px 60px;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(173, 169, 169);
}

.nav_menu_elements {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_menu_elements h3,
.nav_menu_elements a {
    margin: 10px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* #menu_title {
    color: rgb(79, 0, 99);
<<<<<<< HEAD
}
.caixa1{
    display: flex;
    width: 100%;
    height: 800px;
    align-items: center;
    justify-content: center;
    background-color: rgba(249, 231, 255, 0.808);
}
#botao{
    border-color: black;
    border-radius: 5px;
    background-color: grey;
    color: white;
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    border:5px solid black;
    background-color: aliceblue;
}
.caixa2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    border:5px solid black;
    background-color: aliceblue;
}
=======
} */
>>>>>>> 728f73c510924d065249a6407310f98afb6fe5d8
