header {
    display: flex;
    justify-content: center;
    text-align: center;

}

.modal {
    width: 300px;
}

.modal-content {
    width: 300px;
}

.list-group-item:hover {
    background-color: rgba(117, 145, 98, 0.151);
}

#logo-ifrn {
    display: flex;
    align-items: center;
}

.card {
    text-align: center;
}

form {
    border-radius: 2%;
}

.rounded-circle {
    width: 200px;
    height: 150px;
}

#flahscards {
    display: flex;
    justify-content: center;
    align-items: center;
}

#selection-notice {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.service-area {
    background-color: rgb(218, 218, 230);
    margin-bottom: 0;
}

#title-area {
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

#row-area {
    width: 100%;
}

.accordion-body h4 {
    font-size: 16px;
    font-weight: bold;
}

.accordion-body h5 {
    padding-top: 15px;
    font-size: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.accordion-body a {
    font-size: 14px;
    text-decoration: none;
}

.footer {
    background: #22e44c;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;

}